This Jupyter Notebook is going to be used for the Coursera Capstone Data Science project

In [2]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Segmenting and Clustering Neighborhoods in Toronto - Part 1

Read the Wikipedia table for Postal Codes of Neighborhoods in Toronto and make it a dataframe

In [1]:
import pandas as pd
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table = pd.read_html(url)[0]
df = pd.DataFrame(table)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Ignore cells with a borough that is 'Not assigned'

In [2]:
df = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Check that Postal Code has only one entry even if it's assigned to multiple Neighborhoods (they should appear separated by , in the Neigbhorhood column)

In [3]:
#group by Postal Code and check if there are Postal Codes with more than 1 count per Postal Code
grouped = df.groupby('Postal Code').count()
grouped.loc[grouped['Neighborhood'] > 1, :]

Empty DataFrame
Columns: [Borough, Neighborhood]
Index: []

In [4]:
#Check how many rows with Neighborhood = 'Not assigned'
df[df['Neighborhood'] == 'Not assigned'].groupby('Neighborhood').count()

Empty DataFrame
Columns: [Postal Code, Borough]
Index: []

In [5]:
#Check if there are nulls on Neighborhood column
df['Neighborhood'].isnull().sum()

0

In [6]:
#Show the size of the dataframe
df.shape

(103, 3)

Data Frame for Postal Codes was cleaned follwing the instruction in the submission of the course, basically just the 'Not assigned' Borough was filtered out from the data imported from Wiki. There are not duplicates for a postal code and there are no cases for missing/Not assigned Neighborhood as the checks revealed.

# Segmenting and Clustering Neighborhoods in Toronto - Part 2

In [7]:
table1 = pd.read_csv("http://cocl.us/Geospatial_data")
df1 = pd.DataFrame(table1)
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
df1.shape

(103, 3)

Create final table for Neghborhoods including postal codes and coordinates

In [10]:
neighborhoods = df.merge(df1, on = ['Postal Code'], how= 'left')
neighborhoods.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [11]:
neighborhoods.shape

(103, 5)

In [13]:
#check for missings
neighborhoods.isnull().sum()

Postal Code     0
Borough         0
Neighborhood    0
Latitude        0
Longitude       0
dtype: int64